.footer {
  background-color: $background-secondary;
}

.section_footer {
  padding-top: 48px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer_wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
  }
}

@media screen and (max-width: 767px) {
  .footer__contact {
    display: block;
  }
}
.footer__logo {
  display: block;
  flex-direction: column;
  max-width: 232px;

  color: $headline-lebel-color;

  font-family: $headline-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    max-width: 340px;
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    max-width: 480px;
    font-size: 30px;
    line-height: 1.14;
  }
}

.footer__logo-accent {
  color: $headline-color;
  margin-top: 16px;
  font-size: 34px;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    margin-top: 12px;
    font-size: 48px;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 16px;
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.footer__social-telef {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.footer__social__item:not(:last-child) {
  margin-right: 24px;
}

.footer__social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fea5bb;
  transition: background-color $cubic;
}

.footer__social__link:hover,
.footer__social__link:focus {
  background-color: $background-button--red-color;
}
.footer_icon {
  fill: white;
  width: 20px;
  height: 20px;
}

.footer__contact-text {
  font-family: $text-font;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.85;
  color: $primary-txt;
}

.footer__contact-accent {
  color: $headline-color;
}

.footer__copywrite {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $text-paragraph;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  padding-top: 16px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    line-height: 1.86;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: auto;
  }
}

.copywrite_text {
  display: flex;
  justify-content: center;
}
