@import "./header-burger-menu";

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
}

.header__container {
  display: flex;
  align-items: center; 

  @media screen and (max-width: 767px) {
      padding-top: 8px;
    }

  @media screen and (min-width: 768px) {
    padding-top: 32px;      
    }

  @media screen and (min-width: 1280px) {
     padding-top: 37px;
    }
}

.nav {
  display: none;   
  
  @media screen and (min-width: 1280px) {
    display: block;
    margin-left: 175px;
   }
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {  
  padding-top: 52px;
  padding-bottom: 14px;
  font-family: $text-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $text-white;
  transition: color 250ms $cubic;

  &:hover, &:focus {
    color: $headline-color;
  }

  &.current {
    color: $headline-color;
  }
}

.burger {
  display: flex;  
  margin-left: auto;
  padding: 0;
  outline: none;

  &:hover, &:focus {
      fill: black;
    }

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__btn {
  display: none;
  align-items: center;
  padding: 11px 37px;
  font-family: $text-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $headline-color;
  background: $background-main;
  border-radius: 22px;
  outline: none;
  transition: background-color 250ms $cubic;

  &:hover, &:focus {
    background-color: $hover-button--white-color;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
}

.btn__icon {
  margin-left: 12px;
}