    /* fonts */
    $text-font: 'DM Sans', sans-serif;
    $headline-font: 'Titan One', cursive;
    /* color fonts */
    $primary-txt: #000000;
    $headline-color: #D41443;
    $headline-lebel-color: #FFA5BA;
    $text-paragraph: #907E82;
    $text-white: #ffffff;
    /* background-color */
    $background-main: #ffffff;
    $background-hero: #FFB8CA;
    $background-secondary: #FFF5F6;
    $background-brown: #F0D1A5;
    $background-green: #C2E297;
    $background-mobile: #E17992;
    $background-mobile--border: #E18298;
    $background-button--white-color: #FFFFFF;
    $background-button--red-color: #D41443;
    $hover-button--white-color: #ECEBEB;
    $hover-button--red-color: #C7133E;
    /* icons-color */

    /* animatoins */
    $cubic: cubic-bezier(0.4, 0, 0.2, 1);