/* fonts */
$text-font: 'DM Sans', sans-serif;
$headline-font: 'Titan One', italic;
/* color fonts */
$primary-txt: #000000;
$headline-color: #d41443;
$headline-lebel-color: #ffa5ba;
$text-paragraph: #907e82;
$text-white: #ffffff;
/* background-color */
$background-main: #ffffff;
$background-hero: #ffb8ca;
$background-secondary: #fff5f6;
$background-brown: #f0d1a5;
$background-green: #c2e297;
$background-mobile: #e17992;
$background-mobile--border: #e18298;
$background-button--white-color: #ffffff;
$background-button--red-color: #d41443;
$hover-button--white-color: #ecebeb;
$hover-button--red-color: #c7133e;
/* icons-color */

/* animatoins */
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

/*mixins*/

@mixin font($weight, $size, $lheight, $letSpac) {
    font-weight: $weight;
    font-size: $size;
    line-height: $lheight;
    letter-spacing: $letSpac;
}
