<section class="about section" id="about">
  <div class="container about__container">
    <p class="about__lebel">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__block">
      <div class="about__txt">
        <p class="about__item about__item--bolt">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__item">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__item about__item--last">Aliquam erat volutpat. Aenean accumsan.</p>
      </div>

      <input type="checkbox" id="about__button" hidden />

      <div class="about__txt about__txt--text">
        <p class="about__item">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis
          cum numquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit
          suscipit molestiae facilis dolorum fugit deleniti.
        </p>
        <p class="about__item about__item--last">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis
          cum numquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit
          suscipit molestiae facilis dolorum fugit deleniti.
        </p>
      </div>

      <label for="about__button" class="about__button"
        ><span class="about__button--txt">
          Read <span class="about__button--more">more</span
          ><span class="about__button--less">less</span></span
        >
        <svg class="about__button--icon" width="8" height="10">
          <use href="images/icons.svg#about-pointer"></use>
        </svg>
      </label>
    </div>
  </div>
</section>
