<section class="contacts-page section" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container contacts-container">
    <ul class="contacts-page__list">
      <li class="contacts-page__item">
        <ul class="contacts-page__location">
          <li class="contacts-page__label">
            <p class="contacts-page__category">CAFE</p>
          </li>
          <li class="contacts-page__item-city">
            <p class="contacts-page__city">Chicago</p>
          </li>
          <li>
            <p class="contacts-page__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
        </ul>
        <ul class="work-time">
          <li class="work-time__item">
            <p class="work-time__days">Monday - Friday</p>
            <p class="work-time__times">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time__item">
            <p class="work-time__days">Saturday - Sunday</p>
            <p class="work-time__times">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-page__contacts">
          <li class="contacts-page__contacts-item">
            <a class="contacts-page__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-page__contacts-item">
            <a class="contacts-page__mail" href="mail:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-page__item">
        <ul class="contacts-page__location">
          <li class="contacts-page__label contacts-page__label--green">
            <p class="contacts-page__category">FOOD TRUCK</p>
          </li>
          <li class="contacts-page__item-city">
            <p class="contacts-page__city">Los Angeles</p>
          </li>
          <li>
            <p class="contacts-page__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
        </ul>
        <ul class="work-time">
          <li class="work-time__item">
            <p class="work-time__days">Monday - Friday</p>
            <p class="work-time__times">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time__item">
            <p class="work-time__days">Saturday - Sunday</p>
            <p class="work-time__times">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-page__contacts">
          <li class="contacts-page__contacts-item">
            <a class="contacts-page__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-page__contacts-item">
            <a class="contacts-page__mail" href="mail:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-page__item">
        <ul class="contacts-page__location">
          <li class="contacts-page__label">
            <p class="contacts-page__category">CAFE</p>
          </li>
          <li class="contacts-page__item-city">
            <p class="contacts-page__city">New York</p>
          </li>
          <li>
            <p class="contacts-page__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
        </ul>
        <ul class="work-time">
          <li class="work-time__item">
            <p class="work-time__days">Monday - Friday</p>
            <p class="work-time__times">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time__item">
            <p class="work-time__days">Saturday - Sunday</p>
            <p class="work-time__times">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-page__contacts">
          <li class="contacts-page__contacts-item">
            <a class="contacts-page__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-page__contacts-item">
            <a class="contacts-page__mail" href="mail:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-button">
      <li class="contacts-button__item">
        <button class="contacts-button--red js-open-modal" data-modal="map">Our Locations
          <svg class="contacts-button__icon-arrow-red" width="20" height="20">
            <use href="images/icons.svg#icon-arrow-white"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-button__item">
          <button type="button" class="contacts-button--white js-open-modal" data-modal="franchise">Franchise
            <svg class="contacts-button__icon-arrow-white" width="20" height="20">
              <use href="images/icons.svg#icon-arrow-red"></use>
            </svg>
          </button>
      </li>
    </ul>
    </div>
</section>
