<section class="contacts-page section" id="contacts">
  <div class="container">
    <div class="contacts-container">
    <ul class="contacts-page__list">
      <li class="contacts-page__item">
        <div class="contacts-page__location">
          <div class="contacts-page__label">
          <span class="contacts-page__category">CAFE</span>
          </div>
          <h3 class="contacts-page__city">Chicago</h3>
          <p class="contacts-page__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="work-time">
          <h3 class="work-time__days">Monday - Friday</h3>
          <p class="work-time__times">06:00 AM - 10:00 PM</p>
          <h3 class="work-time__days">Saturday - Sunday</h3>
          <p class="work-time__times">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-page__contacts">
        <a class="contacts-page__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contacts-page__mail" href="mail:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-page__item">
      <div class="contacts-page__location">
        <div class="contacts-page__label contacts-page__label--green">
          <span class="contacts-page__category">FOODTRUCK</span>
        </div>
        <h3 class="contacts-page__city">Los Angeles</h3>
        <p class="contacts-page__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="work-time">
        <h3 class="work-time__days">Monday - Friday</h3>
        <p class="work-time__times">06:00 AM - 10:00 PM</p>
        <h3 class="work-time__days">Saturday - Sunday</h3>
        <p class="work-time__times">08:00 AM - 16:00 PM</p>
      </div>
        <div class="contacts-page__contacts">
        <a class="contacts-page__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contacts-page__mail" href="mail:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-page__item">
        <div class="contacts-page__location">
          <div class="contacts-page__label">
            <span class="contacts-page__category">CAFE</span>
          </div>
          <h3 class="contacts-page__city">New York</h3>
          <p class="contacts-page__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="work-time">
          <h3 class="work-time__days">Monday - Friday</h3>
          <p class="work-time__times">06:00 AM - 10:00 PM</p>
          <h3 class="work-time__days">Saturday - Sunday</h3>
          <p class="work-time__times">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-page__contacts">
          <a class="contacts-page__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts-page__mail" href="mail:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    </div>
    <div class="contacts-button">
      <button class="contacts-button--red js-open-modal" data-modal="map">Our Locations
        <svg class="contacts-button__icon-arrow-red" width="20" height="20">
          <use href="images/icons.svg#icon-arrow-white"></use>
        </svg>
      </button>
      <button type="button" class="contacts-button--white js-open-modal" data-modal="franchise">Franchise
        <svg class="contacts-button__icon-arrow-white" width="20" height="20">
          <use href="images/icons.svg#icon-arrow-red"></use>
        </svg>
      </button>
    </div>
    </div>
</section>
