
<div class="contacts-modal-1 modal" data-modal="map">
      <iframe class="contacts-modal-1__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.2213679351353!2d-87.61691698463981!3d41.86658347411403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2bcdde2e3dbf%3A0x788a2cf03bc86a57!2sIce%20cream!5e0!3m2!1sru!2sua!4v1652107302868!5m2!1sru!2sua"
        width="240" height="320" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        <button type="button" class="contacts-modal-1__button--red js-modal-close">Close</button>
    </div>
  <div class="contacts-modal-2 modal" data-modal="franchise">
    <h2 class="contacts-modal-2__title">
      how it’s Work?
    </h2>
    <h3 class="contacts-modal-2__sub-title">
      Foodtrucks
    </h3>
    <p class="contacts-modal-2__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    </p>
    <button type="button" class="contacts-modal-2__button--white">Call</button>
    <button type="button" class="contacts-modal-2__button--red js-modal-close">Close</button>
  </div>

<div class="contacts-modal__backdrop js-overlay-modal"></div>