<footer class=" footer">
    <div class="section container footer_wrapper">

        <div class="footer__logo">
        homemade ice cream made
        <span class="footer__logo-accent">with passion</span>
        </div>

        <div>
            <ul class="footer__social">
                <li class="footer__social__item">
                  <a class="footer__social__link" href="https://github.com/" noreffer noopener>Github  
                    <svg class="footer_icon" width="32" hidden="32">
                        <use href="images/icons.svg#icon-github"></use>
                    </svg>   
                  </a>
                </li>
                <li class="footer__social__link">Github
                    <svg class="footer_icon" width="32" hidden="32">
                        <use href="images/icons.svg#icon-telegram"></use>
                    </svg>
                </li>
                <li class="footer__social__link">Github
                    <svg class="footer_icon" width="32" hidden="32">
                        <use href="images/icons.svg#icon-facebook"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <div class="footer__contact">
            Feel free to contact
            <a href="tel:+610383766284" class="footer__contact-accent">+61 (0) 383 766 284</a> 
        </div>
        
       
    </div>
    <div class="footer__copywrite">
        &#xA9; 2019 - IceCream. All Rights Reserved.
    </div>
</footer>