<section class="section gallery">
    <div class="container gallery__container">
        <h2 class="visually-hidden">Gallery</h2>

        <ul class="grid">
               <li class="grid__item grid__item-1">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-1.png 1x, images/Gallery/img-group@2x-lg-1.png 2x" media="(min-width: 1280px)"
                        type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-1.png" alt="ice-cream with rose leaves" width="141" height="141">
                   </picture>
               </li>
               <li class="grid__item grid__item-2">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-2.png 1x, images/Gallery/img-group@2x-lg-2.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-2.png" alt="pink ice-cream" width="141" height="141">
                   </picture>
               </li>
               <li class="grid__item grid__item-3">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-3.png 1x, images/Gallery/img-group@2x-lg-3.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-3.png" alt="raspberry ice-cream" width="141" height="141">
                   </picture>
               </li>
               <li class="grid__item grid__item-4">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-4.png 1x, images/Gallery/img-group@2x-lg-4.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-4.png" alt="a lot of ice-cream" width="291" height="291">
                   </picture>
               </li>
               <li class="grid__item grid__item-5">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-5.png 1x, images/Gallery/img-group@2x-lg-5.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-5.png" alt="girl with ice-cream" width="141" height="141">
                   </picture>
               </li>
               <li class="grid__item grid__item-6">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-6.png 1x, images/Gallery/img-group@2x-lg-6.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-6.png" alt="fruit ice-cream" width="141" height="141">
                   </picture>
               </li>
               <li class="grid__item grid__item-7">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-7.png 1x, images/Gallery/img-group@2x-lg-7.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-7.png" alt="ice-cream in the city" width="141" height="141">
                   </picture>
               </li>
               <li class="grid__item grid__item-8">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-8.png 1x, images/Gallery/img-group@2x-lg-8.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-8.png" alt="dog and ice-cream" width="141" height="141">
                   </picture>
               </li>
               <li class="grid__item grid__item-9">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-9.png 1x, images/Gallery/img-group@2x-lg-9.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-9.png" alt="ice-coffee" width="141" height="141">
                   </picture>
               </li>
               <li class="grid__item grid__item-10">
                   <picture class="grid__img">
                      <source srcset="images/Gallery/img-group-lg-10.png 1x, images/Gallery/img-group@2x-lg-10.png 2x"
                        media="(min-width: 1280px)" type="image/png" />
                    
                      <img class="gallery-img" src="images/Gallery/img-group-lg-10.png" alt="ice-cream dessert" width="141" height="141">
                   </picture>
               </li>
        </ul>

        <picture class="gallery__group">                    
              <source srcset="images/Gallery/img-group-md.png 1x, images/Gallery/img-group@2x-md.png 2x" media="(min-width: 768px) and (max-width: 1279px)" type="image/png"/>
                    
              <source srcset="images/Gallery/img-group-sm.png 1x, images/Gallery/img-group@2x-sm.png 2x" media="(max-width: 767px)" type="image/png"/>
                    
              <img class="gallery__group-img" src="images/Gallery/img-group-sm.png" alt="group of pictures with ice-cream" width="768" height="262">
        </picture>
    </div>
</section>