<div class="backdrop is-hidden" data-modal>
    <div class="modal-wrapper">
        <button class="modal-btn" type="button" data-modal-close>
            <svg width="18" height="18">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <form>
            <b class="modal-heder">
                Leave contact details and we'll call you
            </b>
            <div class="modal-form">
                <label for="name" class="modal-label">
                    Name</label>
                <input class="modal-input" type="text" name="name"/>
                <svg class="modal-icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-person"></use>
                </svg>
            </div>
            <div class="modal-form">
                <label for="phone" class="modal-label">
                    Phone</label>
                <input class="modal-input" type="tel" name="phone"/>
                <svg class="modal-icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-phone"></use>
                </svg>
            </div>
            <div class="modal-form">
                <label for="email" class="modal-label">
                    E-mail</label>
                <input class="modal-input" type="email" name="email"/>
                <svg class="modal-icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-email"></use>
                </svg>
            </div>
            <div class="modal-form-comment">
                <label for="comment" class="modal-label">
                    Comment</label>
                <textarea class="modal-textarea" name="text" rows="6"
                    placeholder="Enter the text"></textarea>
            </div>
            <label class="agreement-lable">
                <input class="modal-agreement" type="checkbox" name="agreement" />
                <span class="agreement-icon">
                    <svg width="15" height="15">
                        <use href="./images/icons.svg#icon-Vector"></use>
                    </svg>
                </span>
                I agree to the distribution and accept
                <a class="link-agreement" href="#">The terms of the contract</a>
            </label>

            <button class="submit-btn" type="submit"> Submit </button>
        </form>

    </div>
</div>