<section class="products" id="products">
  <div class="container">
    <h2 class="products__titel"><span class="products__titel-span">100% natural</span>products</h2>
    <ul class="products__list">
      <li class="products__item products__item--pink">
        <div class="products__card">
          <h3 class="products__card__titel">ice cream</h3>
          <p class="products__card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <a href="" class="products__card__link">
            <svg class="products__link__arrow" width="11px" height="10px">
              <use href="/images/icons.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item products__item--yellow">
        <h3 class="products__card__titel">ice coffee</h3>
        <p class="products__card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="products__card__link">
          <svg class="products__link__arrow" width="11px" height="10px">
            <use href="/images/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="products__item products__item--green">
        <h3 class="products__card__titel">milkshakes</h3>
        <p class="products__card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="products__card__link">
          <svg class="products__link__arrow" width="11px" height="10px">
            <use href="/images/icons.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
