<section class="section slider" id="about-us">
    <div class="container">
        <h2 class="visually-hidden"></h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide customer-item">
                    <img class="slider__img" 
                        srcset="/images/slider/slider-1.png 1x,
                                /images/slider/slider-1@2x.png 2x"
                        src="/images/slider/slider-1.png" 
                        alt="Emily" 
                        width="85" 
                        height="85">
                    <div class="slider__bg">
                        <p class="slider__txt">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit
                        nulla quam nunc, accumsan&nbsp;congue&nbsp;. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="slider__dot"></span>
                    <p class="slider__txt-contacts">Emily, Los Angeles</p>
                </div>
                <div class="swiper-slide">
                    <img class="slider__img" 
                        srcset="/images/slider/slider-2.png 1x,
                                /images/slider/slider-2@2x.png 2x"
                        src="/images/slider/slider-2.png" 
                        alt="Lucia" 
                        width="85" 
                        height="85">
                    <div class="slider__bg">
                        <p class="slider__txt">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit
                        nulla quam nunc, accumsan&nbsp;congue&nbsp;. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <div class="slider__underline"></div>
                    </div>
                    <span class="slider__dot"></span>
                    <p class="slider__txt-contacts">Lucia, New York</p>
                </div>
                <div class="swiper-slide">
                    <img class="slider__img" 
                        srcset="/images/slider/slider-3.png 1x,
                                /images/slider/slider-3@2x.png 2x"
                        src="/images/slider/slider-3.png" 
                        alt="Sofia" 
                        width="85" 
                        height="85">
                    <div class="slider__bg">
                        <p class="slider__txt">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit
                        nulla quam nunc, accumsan&nbsp;congue&nbsp;. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="slider__dot"></span>
                    <p class="slider__txt-contacts">Sofia, Chicago</p>
                </div>
            </div>
            <div class="swiper-pagination">
            </div>
        </div>
    </div>
</section>
